# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\final global covid 19 tracker working project\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
